{% extends 'base.html.twig' %}

{% block title %} Kira Symfony {% endblock %}

{% block body %}
  <h1 class="h3 mb-3 mt-3 font-weight-normal">{{ 'user.registerTitle'|trans }}</h1>
  {{ form(registrationForm) }}
{% endblock %}
